/* .AD-contri-filter-fal-add {
    width: 480px;
    background: #DBE2EF;
    color: #4f4f4f;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */