.blogs {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.blog-row {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.blog {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border: 1px solid #ccc; 
  padding: 20px;
  border-radius: 8px;
  height: 750px;
  width: auto;
}

.blog-image {
  width: 700px; 
  height: auto; 
  object-fit: cover;
}

.blog-info h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

.blog-info p {
  text-align: center;
  margin: 0; 
}
