@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.acc-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 1800px;
    gap: 50px;
}

.acc-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 170px;
    width: 600px;
    height: 600px;
    background: #b1c0d5;
    padding-bottom: 30px;
    border-radius: 25px;
}

.acc-image-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70px;
}

.acc-image-hehe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
}

.acc-image-hehe img {
    width: 27px;
    height: 270px;
    object-fit: cover;
}

.profile-input {
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-img-submit {
    margin-bottom: -30px;
}

.acc-image input {
    width: 300px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.acc-image {
    width: 300px;
    height: 300px;
}

.account-img-submit {
    background-color: #3F72AF;
}

.account-submit {
    background-color: #3F72AF;
}

.account-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-information-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 170px;
    width: 1400px;
    height: 700px;
    background: #b1c0d5;
    padding-bottom: 30px;
    border-radius: 25px;
    align-items: center;
}

.acc-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.acc-text {
    color: #3F72AF;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.acc-inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-acc label {
    display: flex;
    font-size: 25px;
    margin-bottom: 8px;
}

.input-acc {
    width: 1000px;
}

.input-acc input,
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

.input-acc-faculty label {
    display: flex;
    font-size: 25px;
    margin-bottom: 8px;
}

.input-acc-faculty {
    width: 1000px;
}

.input-acc-faculty input,
select {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #00000035;
    color: #000000;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

.checkbox-gender {
    display: flex;
    gap: 15px;
    font-size: 25px;
}

.change-pass {
    margin-left: 540px;
    text-decoration: underline;
}

.checkbox-gender label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 3px;
}

.checkbox-gender input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #3F72AF;
    padding: 10px;
    transform: scale(1.5);
}