@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.icon {
    width: 20px;
    height: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 170px;
    width: 600px;
    background: #F9F7F7;
    padding-bottom: 30px;
    border-radius: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text-sign-in {
    color: #3F72AF;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #DBE2EF;
    border-radius: 6px;
}

.input-field img {
    margin: 0px 30px;
}

.input-field input {
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    font-size: 25px;
    background: inherit;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.submit-container {
    display: flex;
    margin: 60px auto;
    transition: all 0.3s ease;
}

.register-link p {
    color: #000000;
}

.register-link {
    display: flex;
    margin-top: -50px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    color: #3F72AF;
    font-size: 20px;
    text-decoration: none;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #3F72AF;
    border: none;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.submit-container :hover {
    box-shadow: 0 0 0 4px #fff,
    0 0 0 6px #1b5dd8;
}

.show-password {
    padding-left: 62px;
    margin-top: 27px;
    font-size: 19px;
    text-decoration: none;
    font: inherit;
}

.show-password span {
    color: #3F72AF;
}

.show-password input[type="checkbox"]{
    transform: scale(1.3);
}

.show-password label span {
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}



